<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl as main">
<head>
	<meta charset=utf-8>
	<meta content="IE=edge" http-equiv=X-UA-Compatible>
	<meta content="width=device-width,initial-scale=1" name=viewport>
	
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<style type="text/css">
    #map {
      width: 400px;
      height: 400px;
    }
  </style>
  <script>
    
</script>
</head>
<body>
	<div class="nav-side-menu">
	    <div class="brand">RoadNote App</div>
	    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
	  
	        <div class="menu-list">
	  
	            <ul id="menu-content" class="menu-content collapse out">
	                <li class="active" ui-sref-active="active" ng-click="main.routeTo('home')">
	                  <a ui-sref="home">
	                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
	                  </a>
	                </li>

	                <li data-toggle="collapse" data-target="#service" class="collapsed">
	                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
	                </li>  
	                <ul class="sub-menu collapse" id="service">
	                  <li>New Service 1</li>
	                  <li>New Service 2</li>
	                  <li>New Service 3</li>
	                </ul>


	                 <li ui-sref-active="active" ng-click="main.routeTo('complain')">
	                  <a ui-sref="complain">
	                  <i class="fa fa-user fa-lg"></i> Complains
	                  </a>
	                  </li>
	                  <!-- for violation fines -->
	                  <li ui-sref-active="active" ng-click="main.routeTo('violationandfines')">
	                  <a ui-sref="violationandfines">
	                  <i class="fa fa-user fa-lg"></i> Violation and Fines
	                  </a>
	                  </li>

	                 <li>
	                  <a href="#">
	                  <i class="fa fa-users fa-lg"></i> Users
	                  </a>
	                </li>
	            </ul>
	     </div>
	</div>
	<div class="container" style="margin: 10px;">
		<div class="row">
			<div class="col-md-11 col-md-offset-3 col-sm-12 col-xs-12">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtLbU3jgtpnBDE4u5fgSNjByB8Q5dGuWY&libraries=drawing,places"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
<script src="node_modules/firebase/firebase.js"></script>
<script src="node_modules/angularfire/dist/angularfire.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/ngmap/build/scripts/ng-map.js"></script>

<script>
  // Initialize the Firebase SDK
  var config = {
  	apiKey: 'AIzaSyBiNoGGTtO9EN7_HMNmBCITnZEoHkZiq0E',
  	authDomain: 'db-93864.firebaseapp.com',
  	databaseURL: 'https://db-93864.firebaseio.com',
  	storageBucket: 'gs://db-93864.appspot.com'
  };
  firebase.initializeApp(config);
</script>


<!-- Angular -->
<script src="assets/app/app.module.js"></script>

<!-- Route -->
<script src="assets/app/app.route.js"></script>

<!-- Controllers -->
<script src="assets/app/controllers/main.controller.js"></script>
<script src="assets/app/controllers/login.controller.js"></script>
<script src="assets/app/controllers/complain.controller.js"></script>
<script src="assets/app/controllers/violationandfines.controller.js"></script>
</body>
</html>