<div class="col-md-12" ng-controller="ActContrl as act">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><label>Activity Logs</label></div>
		</div>

		<div class="panel-body">
			<table class="form-group" style="width:100%">
			  <tr>
			    <td>Name Of Roadblock</td>
			    <td><input type="text" name="email" size="20"  ></td>
			  </tr>
			  <tr>
			    <td>&nbsp</td>
			  </tr>
			  <tr>
			    <td>Description</td>
			    <td><input type="text" name="email" size="20" ></td>
			  </tr>
			  <tr>
			    <td><label for="datetimestarted" class="control-label">Date and time Start</label></td>
			    <td><input type="datetime-local" class="form-control"  ></td>
			  </tr>
			  <tr>
			    <td><label for="datetimeended" class="control-label">Date and time End</label></td>
			    <td><input type="datetime-local" class="form-control"  ></td>
			  </tr>

			</table>
		
		</div>
	</div>
</div>
