
<div class="col-md-12" ng-controller="HomeCtrl as home">
	<div style='position:relative;'>
		<!-- <div id="map_div" style="height: 600px; width:100%;"></div> -->
		<div>
			<label>Search a location:</label>
			<input places-auto-complete
			    size=80
			    on-place-changed="home.placeChanged()" />
			    <br>
			   	<br>
		</div>
		<div id="panel">
			<button id="deleteButton" type="button" class="btn btn-danger" style="display: none;">Delete</button>
			<button id="editButton" type="button" class="btn btn-info" style="display: none;">Edit Content</button>
		</div>
		<ng-map id="map_div" style="height: 600px; width:100%;">
			<drawing-manager 
				on-polygoncomplete="home.onMapOverlayCompleted()"
				drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
				drawingControl="true"
				drawingMode="null"
				markerOptions="{icon:'www.example.com/icon'}"
				rectangleOptions="{fillColor:'red'}"
				>
			</drawing-manager>	

			<shape ng-repeat="shape in home.allShapes"
		       name="{{shape.name}}"
		       id="polygon"
		       stroke-color="{{shape.color}}"
		       stroke-opacity="1.0"
		       paths="{{shape.paths}}"
		       fill-color="{{shape.color}}"
		       stroke-weight="2"		       
		       editable="true"
        	   draggable="true"
        	   on-click="home.click(shape.id, shape.type)"
        	   on-dragend="home.changepaths(shape.id, shape.type)"
        	   >
        	   <!-- on-rightclick = "home.delete(shape.id, shape.type)" -->
 <!-- on-bounds_changed = "home.info(shape.id, shape.type)" -->
		    </shape>
		</ng-map>
	</div>
	<br>
	<div >
		<table style="width:100%;">
		    <thead>
		      <th>LEGEND</th>
		    </thead>
		    <tbody>
		      	<td class="noparking" width="1%"></td>
		        <td class="noparking" width="8%">No Parking</td>
		        <td class="nojaywalking" width="9%">No Jay Walking</td>
		        <td class="nostoppinganytime" width="13%">No Stopping Anytime</td>
		        <td class="towawayzone" width="9%">Tow Away Zone</td>
		        <td class="NoLoadingOrUnloading" width="15%">No Loading Or Unloading</td>
		        <td class="Roadblock" width="12%">Roadblock</td>
		      </tr>
		    </tbody>
		</table>
	</div>

	


	<!-- Modal roadblock or roadsign choice-->
	<div id="modalRBorRS" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">GeoFence Plot</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-primary" id="roadblock">roadblock</button>	
					<button type="button" class="btn btn-success" id="roadsign">roadsign</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of modal -->

	<!-- Modal road block-->
	<div id="modalroadblock" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Road Blockage</h4>
				</div>
				<div class="modal-body">
					<!-- <h3 id="modalErrorMsg" style="display: none;">Error</label></h3> -->
					<div class="alert alert-danger" id="modalRBErrorMsghider" style="display: none;">
						<strong>Error!</strong> Please fill all fields.
						<!-- <div id="modalRBErrorMsg"></div> -->
					</div>
					<table class="form-group" style="width:100%">
						<tr>
							<td><label for="modalRBTitle" class="control-label containr">Reason Of Roadblock<div id="modalReasonErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input id="modalRBTitle" type="text" style="width: 60%;"  ></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDesc" class="control-label">Remarks:</label></td>
							<td><input id="modalRBDesc" type="text" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTS" class="control-label containr">Date and time Start<div id="modalDateStartErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input id="modalRBDateTS" type="datetime-local" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTE" class="control-label containr">Date and time End<div id="modalDateEndErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input id="modalRBDateTE" type="datetime-local" style="width: 60%;"></td>
						</tr>	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="modalRBSaveButton">Save</button>
				</div>
			</div>

		</div>
	</div>
	<!-- end of modal -->

	<!-- Modal traffic road sign-->
	<div id="modalTrafficRoadSign" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Traffic Road Sign</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="modalTRSErrorMsghider" style="display: none;">
						<strong>Error!</strong>Please fill all fields.
					</div>
					<table class="form-group" style="width:100%">
						<tr>
							<td><label for="modalRBTitle" class="control-label">Type of RoadSign</label></td>
							<td>
								<select class="form-control" id="modalTRSType" style="width:60%;">
									<option value="" selected disabled hidden>Traffic Sign Type</option>
									<option >No Parking</option>
									<option >No Jaywalking</option>
									<option >No Stopping Anytime</option>
									<option >Tow Away Zone</option>
									<option >No Loading/Unloading</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalTRSDesc" class="control-label">Description</label></td>
							<td><input id="modalTRSDesc" type="text" style="width: 60%;"></td>
						</tr>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="modalTRSSaveButton">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of modal -->

	<!-- Modal delete path-->
	<div id="modalDeletePath" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete</h4>
				</div>
				<div class="modal-body">
					<label> Do you wish to delete this geofence?</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="modalDelPathConfirmDelete">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal road block-->
	<div id="modalEditroadblock" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Road Block Edit</h4>
				</div>
				<div class="modal-body">
					<!-- <h3 id="modalErrorMsg" style="display: none;">Error</label></h3> -->
					<div class="alert alert-danger" id="modalEditRBErrorMsghider" style="display: none;">
						<strong>Error!</strong> Please fill all fields.
						<!-- <div id="modalRBErrorMsg"></div> -->
					</div>
					<table class="form-group" style="width:100%">
						<tr>
							<td><label for="modalEditRBTitle" class="control-label containr">Reason Of Roadblock<div id="modalEditReasonErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input ng-model="home.editRB.rb_name" id="modalEditRBTitle" type="text" style="width: 60%;"  ></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalEditRBDesc" class="control-label">Remarks:</label></td>
							<td><input ng-model="home.editRB.rb_desc" id="modalEditRBDesc" type="text" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalEditRBDateTS" class="control-label containr">Date and time Start<div id="modalEditDateStartErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input ng-model="home.editRB.rb_startdatetime" id="modalEditRBDateTS" type="datetime-local" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalEditRBDateTE" class="control-label containr">Date and time End<div id="modalEditDateEndErrRB" style="display: none; color:red;">*</div></label></td>
							<td><input ng-model="home.editRB.rb_enddatetime" id="modalEditRBDateTE" type="datetime-local" style="width: 60%;"></td>
						</tr>	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="home.saveRBdata()" id="modalEditRBSaveButton">Save</button>
				</div>
			</div>

		</div>
	</div>
	<!-- end of modal -->

</div>






	<!-- end of modal -->

	<!-- Modal info trs-->
<!-- 	<div id="modalInfoTRS" class="modal fade" role="dialog">
		<div class="modal-dialog"> -->

			<!-- Modal content-->
		<!-- 	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Traffic Road Sign Title</h4>
				</div>
				<div class="modal-body">
					<!-- <h3 id="modalErrorMsg" style="display: none;">Error</label></h3> -->
					<!-- <div class="alert alert-danger" id="modalTRSErrorMsghider" style="display: none;">
						<strong>Error!</strong><p id="modalErrorMsg"></p>
					</div>
					<table class="form-group" style="width:100%">
						<tr>
							<td><label for="modalRBTitle" class="control-label">Name Of Roadblock</label></td>
							<td><input id="modalRBTitle" type="text" style="width: 60%;"  ></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDesc" class="control-label">Description</label></td>
							<td><input id="modalRBDesc" type="text" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTS" class="control-label">Date and time Start</label></td>
							<td><input id="modalRBDateTS" type="datetime-local" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTE" class="control-label">Date and time End</label></td>
							<td><input id="modalRBDateTE" type="datetime-local" style="width: 60%;"></td>
						</tr>	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="modalRBSaveButton">Save</button>
				</div>
			</div>

		</div>
	</div> --> 
	<!-- end of modal -->

		<!-- Modal info rb-->
	<!-- <div id="modalInfoRB" class="modal fade" role="dialog">
		<div class="modal-dialog">
 -->
			<!-- Modal content-->
		<!-- 	<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Roadblock Details</h4>
				</div>
				<div class="modal-body"> -->
					<!-- <h3 id="modalErrorMsg" style="display: none;">Error</label></h3> -->
		<!-- 			<div class="alert alert-danger" id="modalRBErrorMsghider" style="display: none;">
						<strong>Error!</strong><p id="modalErrorMsg"></p>
					</div>
					<table class="form-group" style="width:100%">
						<tr>
							<td><label for="modalRBTitle" class="control-label">Name Of Roadblock</label></td>
							<td><input id="modalRBTitle" type="text" style="width: 60%;"  ></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDesc" class="control-label">Description</label></td>
							<td><input id="modalRBDesc" type="text" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTS" class="control-label">Date and time Start</label></td>
							<td><input id="modalRBDateTS" type="datetime-local" style="width: 60%;"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
						</tr>
						<tr>
							<td><label for="modalRBDateTE" class="control-label">Date and time End</label></td>
							<td><input id="modalRBDateTE" type="datetime-local" style="width: 60%;"></td>
						</tr>	
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="modalRBSaveButton">Save</button>
				</div>
			</div>

		</div>
	</div> -->
	<!-- end of modal -->
