
<div class="col-md-12" ng-controller="SReportCtrl as sreport">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">About</div>
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
			    <thead class="text-center">
			      <tr class="bg-primary">
			        <th class="text-center">E-mail</th>
			        <th class="text-center">Description</th>
			        <th class="text-center">Date And time</th>
			        <th class="text-center">Tags</th>
			      </tr>
			    </thead>
				<tbody>
				<tr ng-repeat="sr in sreport.report_a_complain" class="text-center">
			      <th class="text-center">{{ sr.sr_reportedby }}</th>
			      <th class="text-center" id="sr_id">{{ sr.rac_id }}
			      	<!-- <a class="text-center" href="" data-toggle="modal" data-target="#modalView" >See Details -->
			        <button type="button" class="btn btn-info" ng-click="sreport.modalView(sr)" >
			        	See Details
			        </button>
			      </th>
			      <th class="text-center">{{ sr.sr_date }}</th>
			      <th class="bg-info text-center">{{ sr.sr_status }} 
				      <select class="form-control">
				        <option>1</option>
				        <option>2</option>
				        <option>3</option>
				        <option>4</option>
				      </select>
			      </th>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>


	<!-- start of add modal -->
	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="modalView" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content col-sm-10 col-md-11 col-xl-12">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Report A Complain Details</h4>
					</div>
					<div class="modal-body">
						<!-- <div id="desc"></div> -->
						<div class="container" id="contentHolder"></div>
						<button type="button" id="locationView" class="btn btn-link">click here to see location</button> 
					</div>
					<div class="modal-footer">
						<div class="form-group"> 
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal map -->
	<!-- <div id="modalLocation" class="modal fade">
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" data-value="1">Continue</button>
        <button type="button" data-dismiss="modal" class="btn" data-value="0">Cancel</button>
    </div>

	</div> -->


	<!-- modal map -->
	<div class="modal fade" id="modalLocation" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content col-sm-10 col-md-11 col-xl-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Street Report Location</h4>
				</div>
				<div class="modal-body">
					<ng-map style="height: 400px; width:100%;">
						<!-- <marker position="{{sr.getLocation.lat}},{{sr.getLocation.lng}}" title="Hello World!"></marker> -->
					</ng-map>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>
		<!-- <div class="msg2" ng-show="msg2">  <h3>{{vioFines.msg2}}</h3> </div> -->
				<!-- <table class="table table-bordered">
					<thead class="text-center">
						<tr class="bg-primary">
							<th class="text-center col-sm-5 col-md-6">Violation</th>
							<th class="text-center col-md-1">Fines</th>
						</tr>
					</thead>
					<tbody>
						<tr viofines in vioFines.viofines>
							<th class="text-center "><input type="text" id="Modalviolation" class="form-control"></th>
							<th class="text-center"><input type="text" id="Modalfines" class="form-control"></th>
						</tr>
					</tbody>
				</table> -->
				  <!-- <div class="form-group" ng-hide="">
				    <label class="control-label col-sm-2" for="comment">Date:</label>
				    <div class="col-sm-10"> 
				      <textarea class="form-control" id="modalfinestxt" rows="3" ng-model="vioFines.violation_fines.department"></textarea>
				    </div>
				</div> -->
<!-- <div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <div id="mapCanvas" style="width: 500px; height: 400px"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div> -->
